.login-container {
    max-width: 400px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    text-align: center;
}

.button-group button {
    font-family: 'DM Serif Text', serif;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff93b1;
    color: #30383b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #30383b;
    color: #e6e6e6;
}
