h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 30pt;
}

.Home {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
}

.Home-header {
    background-color: #e6e6e6;
    padding: 40px 20px 60px 20px;
    color: #222222;
}

.Home-header p {
    margin: 0px 20px 40px;
}

.cta {
    background-color: #242424;
    color: #ff93b1;
    text-decoration: none;
    padding: 15px;
    margin: 0px 5px 20px;
    font-size: 12pt;
    font-family: 'DM Serif Text', serif;
    border-radius: 4px;
}

.About-section {
    background-color: #e6e6e6;
    text-align: center;
    padding: 20px 50px;
    color: #30383b;
}

.About-section h1 {
    font-size: 22pt;
}

.Contact-section {
    background-color: #e6e6e6;
    text-align: center;
    padding: 20px;
    color: #30383b;
    margin: 0px 0px 20px;
}

.Contact-section h1 {
    font-size: 22pt;
}

@media (max-width: 610px) {
    h1 {
        font-family: 'DM Serif Text', serif;
        font-size: 30pt;
        letter-spacing: -1px;
    }
}