.AccountPage {
    background-color: #e6e6e6;
    height: 85vh;
    max-width: 1500px;
    padding: 20px;
    padding-top: 40px;
    overflow: hidden;
}
.AccountPage h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 26px;
    color: #30383b;
}

.logout-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logout-button {
    font-family: 'DM Serif Text', serif;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff93b1;
    color: #30383b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #30383b;
    color: #e6e6e6;
}

.toggle-button {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    padding: 10px 20px;
    background-color: #30383b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.toggle-button:hover {
    background-color: #ff93b1;
    color: #30383b;
}