@keyframes fadeInEffectTTB {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
  
  .v-decoration-right {
    position: absolute;
    right: 100px;
    top: 0;
    width: 1px;
    height: 100%;
    overflow: hidden;
    background: transparent;
  
    .fade-in-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0; /* Start height at 0 */
      background-image: repeating-linear-gradient(to bottom, #898989 0px, #898989 5px, transparent 1px, transparent 15px);
      animation: fadeInEffectTTB 1.5s ease-out forwards;
      animation-delay: 0.75s;
    }
  
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, transparent 10%, transparent 90%, rgba(245, 245, 245, 1) 100%);
      z-index: 1;
    }
  }